<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>DispatchFiler</filter-name>
        <filter-class>phuchgt.filter.DispatchFiler</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>DispatchFiler</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>phuchgt.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadSubjectController</servlet-name>
        <servlet-class>phuchgt.controller.LoadSubjectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadQuestionController</servlet-name>
        <servlet-class>phuchgt.controller.LoadQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadQuestionForQuizController</servlet-name>
        <servlet-class>phuchgt.controller.LoadQuestionForQuizController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterAccountController</servlet-name>
        <servlet-class>phuchgt.controller.RegisterAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateQuestionController</servlet-name>
        <servlet-class>phuchgt.controller.CreateQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateQuestionController</servlet-name>
        <servlet-class>phuchgt.controller.UpdateQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteQuestionController</servlet-name>
        <servlet-class>phuchgt.controller.DeleteQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitQuizController</servlet-name>
        <servlet-class>phuchgt.controller.SubmitQuizController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetQuizHistoryController</servlet-name>
        <servlet-class>phuchgt.controller.GetQuizHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetQuizDetailController</servlet-name>
        <servlet-class>phuchgt.controller.GetQuizDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchQuestionController</servlet-name>
        <servlet-class>phuchgt.controller.SearchQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadQuizController</servlet-name>
        <servlet-class>phuchgt.controller.LoadQuizController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DispatchQuestionController</servlet-name>
        <servlet-class>phuchgt.controller.DispatchQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>phuchgt.controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditQuestionController</servlet-name>
        <servlet-class>phuchgt.controller.EditQuestionController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadSubjectController</servlet-name>
        <url-pattern>/LoadSubjectController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadQuestionController</servlet-name>
        <url-pattern>/LoadQuestionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadQuestionForQuizController</servlet-name>
        <url-pattern>/LoadQuestionForQuizController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterAccountController</servlet-name>
        <url-pattern>/RegisterAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateQuestionController</servlet-name>
        <url-pattern>/CreateQuestionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateQuestionController</servlet-name>
        <url-pattern>/UpdateQuestionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteQuestionController</servlet-name>
        <url-pattern>/DeleteQuestionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitQuizController</servlet-name>
        <url-pattern>/SubmitQuizController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetQuizHistoryController</servlet-name>
        <url-pattern>/GetQuizHistoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetQuizDetailController</servlet-name>
        <url-pattern>/GetQuizDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchQuestionController</servlet-name>
        <url-pattern>/SearchQuestionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadQuizController</servlet-name>
        <url-pattern>/LoadQuizController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DispatchQuestionController</servlet-name>
        <url-pattern>/DispatchQuestionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditQuestionController</servlet-name>
        <url-pattern>/EditQuestionController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>loginForm.jsp</welcome-file>
    </welcome-file-list>
</web-app>
